<div id="<%= dom_id list %>">
  <p class="my-5">
    <strong class="font-medium mb-1">List:</strong>
    <%= list.name %>
  </p>

  <ul class="list-disc ml-12" data-controller="sortable" data-sortable-list-id="<%= list.id %>" data-sortable-group-value="tasks">
    <% list.tasks.rank(:row_order).each do |task| %>
      <li data-sortable-url="<%= sort_task_path(task) %>">
        <%= render task %>
      </li>
    <% end %>
  </ul>

  <%# if action_name != "show" %>
    <%#= link_to "Show this list", list, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to 'Edit this list', edit_list_path(list), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <%# end %>
</div>
