<section class="<%= full_width_class %> space-y-4">
  <div class="text-center space-y-2">
    <div class="flex items-center space-x-4 justify-center">
      <%= image_tag "#{icon}.svg", class: 'h-8 w-8 text-gray-200' %>
      <h1 class="text-2xl"> <%= header %> </h1>
    </div>
    <h2 class="text-xl">
      <%= subtitle %>
    </h2>
  </div>
  <%= content %>
</section>