<%= form_with(model: movie, class: "contents") do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div data-controller="form-element">
    <%= form.button "validate", formaction: new_movie_path, 
                                formmethod: :get, 
                                data: { form_element_target: 'remoteButton', turbo_frame: :passcode_field } %>
    <div class="my-5">
      <%= form.label :access, class: "block" %>
      <%= form.select :access, 
                      Movie.accesses, 
                      { include_blank: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" }, 
                      { data: { action: 'change->form-element#autoSubmit' } } %>
    </div>
  </div>

  <%= turbo_frame_tag :passcode_field do %>
    <% if movie.passcode_protected? %>
      <div class="my-5">
        <%= form.label :passcode %>
        <%= form.text_field :passcode, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    <% end%>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
