<%= form_with(model: movie, class: "contents") do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div data-controller="showhide" data-showhide-show-if-value="passcode_protected">
    <div class="my-5">
      <%= form.label :access, class: "block" %>
      <%= form.select :access, 
                      Movie.accesses, 
                      { include_blank: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" }, 
                      { data: { showhide_target: 'input', action: 'change->showhide#toggle' } } %>
    </div>

    <div class="my-5" data-showhide-target="output">
      <%= form.label :passcode %>
      <%= form.text_field :passcode, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :soundtracks %>
      <div class="dropzone dropzone-default dz-clickable grid grid-cols-4 gap-x-4 gap-y-12 border-2 border-dashed border-gray-300 rounded-lg overflow-y-auto h-64" 
           data-controller="dropzone" 
           data-dropzone-max-file-size="20" 
           data-dropzone-max-files="20"
           data-dropzone-accepted-files=".mp3"
           data-upload-multiple="true">
        <%= form.file_field :soundtracks, 
                            multiple:true,
                            direct_upload: true,
                            data: { dropzone_target: 'input' },
                            hidden: true,
                            disabled: true,
                            class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        <div class="dropzone-msg dz-message needsclick col-span-4 pt-8"> 
          <h3 class="dropzone-msg-title text-lg">Drag here to upload or click here to browse</h3>
          <span class="dropzone-msg-desc text-sm">20 MB file size maximum, allowed file type is just mp3.</span>
        </div>
      </div>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
