<div id="<%= dom_id movie %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= movie.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Access:</strong>
    <%= movie.access %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Barcode:</strong>
    <% if movie.barcode.attached? %>
      <%= image_tag(movie.barcode) %>
    <% else %>
      <p> No barcode attached. </p>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">QR Code:</strong>
    <% if movie.qr_code.attached? %>
      <%= image_tag(movie.qr_code) %>
    <% else %>
      <p> No QR code attached. </p>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% if movie.images.attached? %>
      <div class="w-full grid grid-cols-4 gap-4">
        <% movie.images.each do |image| %>
          <div class="bg-white p-4 rounded shadow">
            <%= image_tag image, class: 'mx-auto w-24 h-24' %>
            <%= link_to 'Kaldır', 
                        attachment_path(image.id,  params: { redirect_url: request.url }), 
                        class: 'text-center bg-red-500 hover:bg-red-700 text-white font-bold mt-2 py-2 px-4 rounded-full mx-auto block',
                        data: { turbo_method: :delete } %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p> No images attached. </p>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Soundtracks:</strong>
    <% if movie.soundtracks.attached? %>
      <div class="w-full flex flex-col space-y-4">
        <% movie.soundtracks.each do |soundtrack| %>
          <div class="flex justify-end items-center space-x-2">
            <figure class="w-full flex justify-end items-center space-x-2">
              <figcaption class="text-sky-500 w-1/3"><%= soundtrack.filename %></figcaption>
              <audio controls src="<%= rails_blob_url(soundtrack) %>" class="w-2/3">
              </audio>
            </figure>
            <%= link_to attachment_path(soundtrack.id,  params: { redirect_url: request.url }), 
                        class: 'flex items-center justify-center font-bold text-red-500 hover:text-red-700',
                        data: { turbo_method: :delete } do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p> No soundtracks attached. </p>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this movie", movie, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this movie', edit_movie_path(movie), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
