<div id="<%= dom_id(user) %>" class="my-4 p-4 border-2 border-gray-200 rounded-lg">
  <div class="my-1">
    <strong> Id: </strong>
    <%= user.id %>
  </div>
  <div class="my-1">
    <strong> Email: </strong>
    <%= user.email %>
  </div>
  <div class="my-1">
    <strong> First Name: </strong>
    <%= user.first_name %>
  </div>
  <div class="my-1">
    <strong> Last Name: </strong>
    <%= user.last_name %>
  </div>
</div>