<h1 class="text-3xl font-bold mb-4"> Users </h1>

<%= search_form_for @q, data: { turbo_frame: :users } do |f| %>
  <%= f.label :first_name_or_last_name_or_email_cont %>
  <%= f.search_field :first_name_or_last_name_or_email_cont,
                     oninput: 'this.form.requestSubmit()',
                     autofocus: true,
                     autocomplete: 'off' %>
<% end %>

<%= turbo_frame_tag :users do %>
  <div id="users">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
<% end %>