<div id="<%= dom_id location %>">
  <%= image_tag "https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-s+00ccff(#{location.longitude},#{location.latitude})/#{location.longitude},#{location.latitude},13,0/300x200?access_token=pk.eyJ1Ijoic2FicmljYWtpciIsImEiOiJjbGxzMzVjMDAwdndrM2RwOHJyajdrZnBxIn0.jckmclMtnQb8Tu5O6Qf6uQ" %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= location.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= location.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= location.longitude %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this location", location, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this location', edit_location_path(location), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
