<!DOCTYPE html>
<html>
  <head>
    <% new_notifications_count = Notification.where(seen: [false, nil]).count %>
    <%= render 'shared/title_notifications', { new_notifications_count: } %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/slim-select@latest/dist/slimselect.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body data-controller="theme hotkeys" data-action="keydown->hotkeys#handleKeydown" class="bg-white dark:bg-slate-500 text-black dark:text-white">
    <%= turbo_stream_from :online_users, channel: OnlineChannel %>
    <%= turbo_stream_from :visitors, channel: VisitorsChannel %>
    <%= turbo_stream_from :global_notification %>

    <div class="sticky top-0 z-10" data-controller="navbar" data-action="resize@window->navbar#closeOnBigScreen keyup@window->navbar#closeWithEsc">
      <nav class="bg-slate-400 p-4 flex justify-between items-center h-20">
        <div class="text-lg italic">
          Logo
        </div>
        <div class="flex items-center space-x-4">
          <div data-controller="dialog" data-action="click->dialog#clickOutsideDialog">
            <%= button_tag nil, 
                class: 'hidden sm:flex items-center w-72 text-left space-x-3 px-4 h-12 bg-white ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 shadow-sm rounded-lg text-slate-400 dark:bg-slate-800 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700',
                data: { action: 'click->dialog#openDialog', hotkeys_target: 'button', hotkey: 'k' } do %>
              <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-none text-slate-300 dark:text-slate-400" aria-hidden="true"><path d="m19 19-3.5-3.5"></path><circle cx="11" cy="11" r="6"></circle></svg>
              <span class="flex-auto">Quick search...</span>
              <kbd class="font-sans font-semibold dark:text-slate-500"><abbr title="Control" class="no-underline text-slate-300 dark:text-slate-500">Ctrl </abbr> K</kbd>
            <% end %>
            <dialog data-dialog-target="dialog" class="w-full md:w-1/2 shadow-lg rounded-lg">
              <%= render 'movies/search_form' %> 
            </dialog>
          </div>
          <div class="text-white">
            <%= Current.user.email if Current.user.present? %>
          </div>
          <div class="md:hidden" role="button" data-action="click->navbar#toggle">
            &#9776;
          </div>
        </div>
      </nav>

      <nav class="hidden p-4 flex flex-col justify-center items-center bg-slate-200 absolute w-full h-80 overflow-y-auto" data-navbar-target="content">
        <div class="flex flex-col space-y-2">
          <div> <%= active_link_to 'Home', home_path, class: 'text-sky-500 hover:text-sky-700'%> </div> 
          <div> 
            <%= active_link_to dashboard_path, {}, class: 'text-sky-500 hover:text-sky-700' do %>
              Dashboard
            <% end %>
          </div>
          <div> <%= active_link_to 'Addresses', addresses_path, class: 'text-sky-500 hover:text-sky-700' %></div> 
          <div> <%= active_link_to 'Users', users_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Products', products_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Movies', movies_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Lists', lists_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Games', games_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Rooms', rooms_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Notifications', notifications_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Locations', locations_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
        </div>
      </nav>
    </div>

    <div class="bg-slate-300 flex">
      <nav class="bg-slate-200 p-4 w-1/6 hidden md:flex flex-col justify-between sticky top-20 h-[calc(100vh-80px)]">
        <div class="flex flex-col space-y-2">
          <div> <%= active_link_to 'Home', home_path, class: 'text-sky-500 hover:text-sky-700'%> </div> 
          <div> 
            <%= active_link_to dashboard_path, {}, class: 'text-sky-500 hover:text-sky-700' do %>
              Dashboard
            <% end %>
          </div>
          <div> <%= active_link_to 'Addresses', addresses_path, class: 'text-sky-500 hover:text-sky-700' %></div> 
          <div> <%= active_link_to 'Users', users_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Products', products_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Movies', movies_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Lists', lists_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Games', games_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Rooms', rooms_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Notifications', notifications_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
          <div> <%= active_link_to 'Locations', locations_path, class: 'text-sky-500 hover:text-sky-700' %> </div> 
        </div>
        <div class="flex justify-between items-center"> 
          <div>Visitors: <span id="visitors_count"> </span> </div>
          <div class="hover:cursor-pointer" data-theme-target="sunIcon" data-action="click->theme#themeSwitch">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z" />
            </svg>
          </div>
          <div class="hover:cursor-pointer" data-theme-target="moonIcon" data-action="click->theme#themeSwitch">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 01.162.819A8.97 8.97 0 009 6a9 9 0 009 9 8.97 8.97 0 003.463-.69.75.75 0 01.981.98 10.503 10.503 0 01-9.694 6.46c-5.799 0-10.5-4.701-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 01.818.162z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </nav>
      <main class="bg-slate-300 w-5/6 p-4 flex-grow">
        <%= yield %>
      </main>
    </div>
    <%= turbo_frame_tag :cookies_modal, src: cookies_path if session[:cookies_accepted].nil? %>
  </body>
</html>
